.x_e {
    font-family: MarcinAntB, sans-serif;
    font-size: .6875rem;
    line-height: 1rem;
    -webkit-box-align: center;
    align-items: center;
    grid-column: 1/9
}

.contro {
    display: block;
    margin: 0 auto;
}

.contro img {
    text-align: center;
    margin: 10px auto;
}

img {
    height: auto;
    width: 100%;
    /* еще больше контроля с max-width */
    max-width: 720px;
}

.article__subdeck1 {
    padding: 10px;
    background: #FDF2FA;
    margin: 10px 0;
    border: 3px dashed #a22c75;
    border-radius: 5px;
}


.comments-block {
    width: 90%;
    margin: 10px 5%;
    position: relative;
}

.comments-block .c-title {
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: rgb(255, 255, 255) -2px -2px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 4px solid #be111f;
    margin: 5px 0px 15px;
    width: 100%;
}

.comments-block ul {
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.comments-block ul > ul > li {
    margin-left: 3rem;
}

.comments-block ul > li {
    margin-bottom: 1.5rem !important;
    margin-top: 1.5rem !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 0.95rem;
}

.comments-block .c-li-avatar {
    margin-right: 1rem !important;
    border-style: none;
}

.comments-block img.c-li-avatar {
    width: 64px !important;
    height: 64px !important;
    vertical-align: middle;
}

.comments-block .c-li-body {
    -ms-flex: 1;
    flex: 1;
}

.comments-block .c-li-body h5 {
    margin-bottom: .25rem !important;
    margin-top: 0 !important;
    font-size: 1.25rem;
}

.comments-block .с-grey {
    font-size: 15px;
    color: rgba(0, 0, 0, .5) !important;
}


.articulo-subtitulos h2 {
    margin-bottom: 1rem;
}

.gelat_Bb6MhOHv {
    padding: 0px 30px 10px 0px;
    font-size: 12px;
    font-style: italic;
    color: rgb(161, 161, 168);
}

.gelat_Bb6MhOHv {
    margin-top: 5px;
}

.gelat_Bb6MhOHv > img {
    display: block;
    margin: 0px auto;
    width: 300px;
}

.gelat_Bb6MhOHv {
    float: left;
    padding: 0px 30px 10px 0px;
    font-size: 12px;
    font-style: italic;
    color: rgb(161, 161, 168);
}

.doc {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: rgb(226, 226, 226);
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .doc {
        flex-wrap: wrap;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    .gelat_Bb6MhOHv {
        padding: 0;
    }
}

.lt79 {
    color: red;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.product {
    background-color: rgb(226, 226, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.product img {
    max-width: 400px;
}

#form0 {
    background-image: url(formbg.jpg);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 25px;
    text-align: center;
    /*font-family: Arial;*/
}

#form0 h2 {
    margin: 15px 0 0 0;
    padding: 0px;
    line-height: 32px;
    border: none;
    font-size: 22px;
    text-transform: uppercase;

}

#form0 label {
    /*width: 230px;*/
    margin: 0 auto;
    display: block;
    padding: 5px 0 5px 0;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}


#form0 .order_form_pole {
    padding: 5px;
    margin: 0 auto;
    max-width: 300px;
}

#form0 input {
    box-sizing: border-box;
    font-size: 21px;
    padding: 15px;
    border-radius: 3px;
    border: 2px solid #e9d7dc;
    max-width: 300px;
    /*width: 100%;*/
    background: #fff;
}

#form0 span {
    display: inline-block;
}

#form0 .price {
    color: red;
    font-weight: 700;
    font-size: 16px !important;
}

#form0 button {
    display: inline-block;
    padding: 20px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0 4px 15px 0 rgba(129, 150, 160, 0.45);
    border-radius: 5px;
    background-color: #0299ff;
    background-position: 1.35em .94em;
    background-size: 1em;
    background-repeat: no-repeat;
    transition: all .15s ease-in-out;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

#form0 button:hover {
    background-color: #017ACC;
}

#form0 button:active {
    position: relative;
    top: 1px;
}

.section {
    overflow: hidden;
}